### Capstone Project Data Wrangling - Pandas

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import json

In [2]:
def get_files(filepath, filetemplate):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,filetemplate))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [3]:
csv_files = get_files(".", '*.csv')
for f in csv_files:
    print(f)

/home/workspace/data/us-cities-demographics.csv
/home/workspace/data/airport-codes-clean.csv
/home/workspace/data/airport-test.csv
/home/workspace/data/i94_countries.csv
/home/workspace/data/us-zip-code-latitude-and-longitude.csv
/home/workspace/data/i94_states.csv
/home/workspace/data/i94_modes.csv
/home/workspace/data/immigration_data_sample.csv
/home/workspace/data/i94_ports_entry.csv
/home/workspace/data/i94_visas.csv
/home/workspace/data/airport-codes_csv.csv
/home/workspace/data/.ipynb_checkpoints/i94_modes-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/us-cities-demographics-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/i94_visas-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/i94_states-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/us-zip-code-latitude-and-longitude-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/i94_countries-checkpoint.csv
/home/workspace/data/.ipynb_checkpoints/i94_ports_entry-checkpoint.csv
/home/workspace/.ipynb_checkpoints/airport-codes_csv-checkpoint.csv
/home/workspace/.ipynb_checkpoints/i94_states-checkpoint.csv
/home/workspace/.ipynb_checkpoints/i94_countries-checkpoint.csv

In [4]:
csv_files = get_files("../../data/18-83510-I94-Data-2016/", '*.*')
for f in csv_files:
    print(f)

/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat

#### Hack US Cities Demographics

In [ ]:
# US cities demographics (us-cities-demographics.csv)  delimiter ;
#City;State;Median Age;Male Population;Female Population;Total Population;Number of Veterans;Foreign-born;Average Household Size;State Code;Race;Count
#Silver Spring;Maryland;33.8;40601;41862;82463;1562;30908;2.6;MD;Hispanic or Latino;25924
#Quincy;Massachusetts;41.0;44129;49500;93629;4147;32935;2.39;MA;White;58723

In [37]:
city_demo_fname = 'us-cities-demographics.csv'
df_city_demo = pd.read_csv(city_demo_fname, delimiter=';')

In [38]:
df_city_demo.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

#### Hack City Temperature data

In [43]:
city_temp_fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_city_temp = pd.read_csv(city_temp_fname)

In [44]:
df_city_temp.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [46]:
df_city_temp.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

#### Hack Airport Codes data

In [12]:
# airport codes (airport-codes_csv.csv)
#ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
#00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,,00A,"-74.93360137939453, 40.07080078125"
#00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,,00AA,"-101.473911, 38.704022"

In [14]:
airport_fname = 'data/airport-codes_csv.csv'
df_airport = pd.read_csv(airport_fname)

In [15]:
df_airport.head(5)
# note problem that it is interpreting 'NA' to be NaN instead of the string 'NA'

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [42]:
df_airport.tail()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
55070,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
55071,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
55072,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
55073,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
55074,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,NaN,"130.270556, 30.784722"

#### Hack I94 immigration data

##### Read SAS immigration data from ../../data directory and reload it into parquet files in sas_data

In [ ]:
# pandas provides capability to read SAS data in sas7bdat format but it seems slow...
i94_fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df_i94 = pd.read_sas(i94_fname, 'sas7bdat', encoding="ISO-8859-1")

In [ ]:
#df_i94.count()
#print(df_i94.size)
print(df_i94.shape)

In [ ]:
df_i94.head()

In [24]:
del(df_i94)

In [4]:
# apparently Spark also provides capability to read SAS data in sas7bdat format
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
                     config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11").\
                     enableHiveSupport().getOrCreate()

In [6]:
df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [8]:
df_spark.count()

3096313

In [36]:
df_spark.write.parquet("sas_data_16apr")

In [16]:
df_i94_spark2=spark.read.parquet("sas_data_16apr")

In [ ]:
df_i94_spark2.count()

In [26]:
del(df_i94_spark2)

In [18]:
df_i94_spark=spark.read.parquet("sas_data")

In [19]:
df_i94_spark.count()

3096313

In [20]:
df_i94_spark.head()

Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum=None, airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1')

In [28]:
df_i94_spark.limit(20).toPandas().head(4)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,5748517.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,CA,20582.0,...,None,M,1976.0,10292016,F,None,QF,9.495387e+10,00011,B1
1,5748518.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,NV,20591.0,...,None,M,1984.0,10292016,F,None,VA,9.495562e+10,00007,B1
2,5748519.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20582.0,...,None,M,1987.0,10292016,M,None,DL,9.495641e+10,00040,B1
3,5748520.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1987.0,10292016,F,None,DL,9.495645e+10,00040,B1

In [ ]:
# immigration data (immigration_data_samples.csv)
#,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
#2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,,,G,O,,M,1955.0,07202016,F,,JL,56582674633.0,00782,WT
#2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,,G,R,,M,1990.0,10222016,M,,*GA,94361995930.0,XBLNG,B2

In [22]:
# here are the immigration files in original sas format
sas_files = get_files("../../data", '*.sas7bdat')
for f in sas_files: print(f)

/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat
/data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat

In [20]:
# here are the immigration files in parquet format converted by Udacity
# it appears that they pre-converted the april file i94_apr16_sub.sas7bdat

/home/workspace/sas_data/part-00008-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00004-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00006-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00010-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00012-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00007-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00013-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00000-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00002-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00003-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00011-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00005-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00001-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet
/home/workspace/sas_data/part-00009-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet

#### Prep I94 data for January 2016 and July 2016

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
                     config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11").\
                     enableHiveSupport().getOrCreate()

##### January 2016  (sample winter month)

In [10]:
df_i94_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')

In [11]:
df_i94_spark.count()

2847924

In [12]:
df_i94_spark.write.parquet("sas_data_16jan")

In [13]:
df_i94_parq = spark.read.parquet("sas_data_16jan")

In [14]:
df_i94_parq.count()

2847924

##### July 2016  (sample summer month)

In [15]:
df_i94_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat')

In [16]:
df_i94_spark.count()

4265031

In [17]:
df_i94_spark.write.parquet("sas_data_16jul")

In [18]:
df_i94_parq = spark.read.parquet("sas_data_16jul")

In [19]:
df_i94_parq.count()

4265031

##### October 2016  (sample fall month)

In [12]:
df_i94_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat')

In [39]:
df_i94_spark.count()

4103570

In [8]:
def xfer_sas_parq(month = 'jan'):
  """Utility function to transfer monthly I94 data from SAS format to parquet format. 
     Parameter is 3 char month code (e.g. 'jan', 'feb', etc.)"""
  df_i94_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_' + month + '16_sub.sas7bdat')
  try:
    df_i94_spark.write.parquet('sas_data_16' + month)
  except Exception as e:
    if str(e).find('already exists')>=0:
      print(f'Target parquet directory for month {month} already exists so skip (re)loading it.')
    else:
      raise   # rethrow any other exception
  return df_i94_spark

In [9]:
df_i94_spark = xfer_sas_parq('oct')

In [10]:
df_i94_spark.count()

3649136

In [11]:
df_i94_parq = spark.read.parquet("sas_data_16oct")

In [12]:
df_i94_parq.count()

3649136